html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body{background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1)0%, rgba(148,187,233,1)100%);

}


.main{

  max-width: 1000px;
  margin-top: 80px;
  margin: 80px auto;
}


.navigation{
  background-color:rgba(103, 109, 165, 0.849);
  position: fixed;
  width: 100%;
   top: 0vh;
  padding: 30px 0px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  }
  .article__text{
    text-align: center;
    font-size: larger;
  }



.navigation__link{
color: hotpink;
font-size: large;


}


  


.article{
  
  margin: auto;
  display: inline-block;
  margin-top: 10px;
  padding: 16px;
  border-radius: 16px;
  border-style: solid;
  
}

.article__title{
  color: aqua;
  text-align: center;
  font-size: x-large;
}

.title__web{
  font-size: xx-large;
  text-align: center;
}

.article__photo{
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.section__title{
grid-area: h2;

  font-size: xx-large;
  text-align: center;
}

.section{
  display: grid;
  width: 100%;
  grid-column: 1fr 1fr 1fr;
 grid-template-areas: "h2 h2 h2"
  ;
  
  column-gap: 16px;
  row-gap: 16px;
}


  


/*
.navigation {
  text-align: center;
  background: #ffc971;
  padding: 30px;
  border-radius: 25px;
  max-width: 800px;
  min-width: 800px;
  border-style: solid;
  border-width: 8px;
  border-color: #cc5803;
  z-index: 1;
  top: 0;
  margin: auto;
}

.navigation__link {
  color: #cc5803;
  margin-right: 30px;
  padding: 9px;
  border-radius: 7px;
  background-color: #ffb627;
  border-style: solid;
  border-color: #cc5803;
}

.title__web {
  color: #cc5803;
  background-color: #ffc971;
  text-align: center;
  padding: 30px;
  border-width: 2px;
  border-radius: 4px;
  border-color: #cc5803;
  border-style: solid;
  max-width: 800px;
  min-width: 800px;
  margin: auto;
  margin-top: 30px;
}
.section__news {
  border-radius: 30px;
  border-style: solid;
  border-color: #cc5803;
  background-color: #ffc971;

  margin-top: 3px;
  padding: 30px;
  max-width: 800px;
  min-width: 800px;
  margin: auto;
}

.article {
  max-width: 800px;
  min-width: 800px;
  padding: 30px;
  background-color: #ffc971;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50px;
  border-width: 2px;
  border-color: #cc5803;
  border-style: solid;
}

.article__style {
  max-width: 700px;
  min-width: 700px;
  background-color: #ffc971;
  margin: auto;
  margin-top: 30px;
  border-radius: 50px;
  border-width: 2px;
  border-color: #cc5803;
  border-style: solid;
}

.article__title {
  text-align: center;
  color: #cc5803;
  font-size: 33px;
  margin-top: 3px;
}

.article__photo {
  border-radius: 50vh;
  border-style: inherit;
  border-color: #cc5803;
  display: block;
  margin: auto;
}
.article__text {
  padding: 12px 4px;
  text-align: center;
}
.footer__style {
  text-align: center;
  max-width: 800px;
  min-width: 800px;
  border-radius: 40px;
  border-color: sienna;
  border-style: solid;
  background-color: #ffc971;
  margin: auto;
  bottom: 0;
  margin-top: 30px;
  padding: 30px;
}
